@import "pallette";
@import "components/common";
@import "components/navbar";
@import "components/footer";
@import "components/card";

.row__item-image {
  width: 32px;
  height: 32px;
}

.__currency-image {
  width: 20px;
  height: 20px;
}
