@color-background: #4b524b;

body {
  background: @color-background;
  margin-bottom: 32px;
  margin-top: 56px;
  color: aliceblue;
}

.--w-h-32px {
  width: 32px;
  height: 32px;
}

.--w-h-20px {
  width: 20px;
  height: 20px;
}

.--w-h-16px {
  width: 16px;
  height: 16px;
}


.copper {
  color: #d47f46;
  font-weight: 700
}

.silver {
  color: #787878;
  font-weight: 700
}

.gold {
  color: #e68a00;
  font-weight: 700
}

.--coin {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: text-top;
  margin-top: 1px;
  margin-left: 3px;
}
